* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    background-color: var(--color-surface-100);
}

:root {
        /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #382bf0;
    --color-primary-200: #5e43f3;
    --color-primary-300: #7a5af5;
    --color-primary-500: #a688fa;
    --color-primary-600: #ba9ffb;
    --color-primary-400: #9171f8;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #1a1625;
    --color-surface-mixed-200: #2f2b3a;
    --color-surface-mixed-300: #46424f;
    --color-surface-mixed-400: #5e5a66;
    --color-surface-mixed-500: #76737e;
    --color-surface-mixed-600: #908d96;
    --week-entry-text-size: 0.9rem;
}

#content {
    height: 100%;
    display: grid;
    grid-template-columns: 250px minmax(600px, 5fr);
    grid-template-rows: 100dvh;
    background-color: var(--color-surface-400);
}

.sideBar,
.mainContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
}


/* SIDEBAR */
.sideBar {
    background-color: var(--color-surface-200);
    border-right: 1px solid var(--color-surface-400);
}

.sideBar>header {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 15px;
    align-items: center;
    padding-left: 18px;
}

.headerLogo {
    width: 100%;
}

.sideBar>header>h1 {
    color: var(--color-primary-600);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

.sideBar>main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
}

.navButton {
    height: 40px;
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding-left: 15px;
    border-left: 3px solid transparent;
    transition: all 0.2s;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 100%;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    padding: 15px 15px;
}

.navButton>.navImg {
    width: 100%;
}

.navButton:hover>.navImg {
    filter: invert(59%) sepia(0%) saturate(1201%) hue-rotate(249deg) brightness(94%) contrast(80%);
}

.navButton.active>.navImg {
    filter: invert(33%) sepia(77%) saturate(2120%) hue-rotate(236deg) brightness(99%) contrast(94%);
}

.navButton:hover {
    color: var(--color-surface-600);
    border-left: 3px solid var(--color-surface-600);
    cursor: pointer;
}

.navButton.active {
    border-left: 3px solid var(--color-primary-600);
    color: var(--color-primary-600);
}

.navLabel {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7rem;
    padding-left: 15px;
    margin: 15px 0;
}
/* END */

/* MAIN */
.mainContent {
    background-color: var(--color-surface-100);
}

.page {
    background-color: var(--color-surface-100);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.pageContent {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.pageHeader {
    border-bottom: 1px solid var(--color-surface-400);
}
/* END */


/* WEEK */

.weekContainer {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    padding: 25px;
}

.weekEntry {
    background-color: var(--color-surface-200);
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-shadow: 0 0 10px 2px var(--color-surface-200);
}

.weekTitle {
    color: white;
}

.weekPurple {
    color: var(--color-surface-600);
    width: 100%;
    text-align: center;
}

.weekWorkedContainer {
    color: var(--color-surface-600);
}

.weekHourContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-auto-rows: max-content;
    justify-items: center;
    font-size: 1rem;
    gap: 10px;
    padding: 15px 5px;
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 10px;
    height: 100%;
}

.weekHourContainer>h3 {
    font-size: var(--week-entry-text-size);
    font-weight: 500;
}

.weekPayLabel {
    color: white;
}

.payName,
.payHours,
.weekPayAmount {
    color: var(--color-surface-600);
    font-size: var(--week-entry-text-size);
}


span.weekPayAmount {
    color: var(--color-primary-600);
    grid-column-start: 3;
    font-weight: bold;
    font-size: 1rem;
}

span.payName {
    color: white;
    font-weight: bold;
    grid-column-start: 1;
    font-size: 1rem;
}

.totalPayContainer {
    padding: 15px;
}

/* MONTH */

.monthContainer {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    padding: 5px;
}

.monthEntry>.entryContainer {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    align-content: space-between;
}

.monthEntry {
    background-color: var(--color-surface-200);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.85rem;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    height: 100%;
    padding: 5px 10px;
    align-content: stretch;
}

.monthDateContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.7rem;
}

.monthTimeContainer {
    font-size: 0.8rem;
    display: grid;
    text-align: center;
    color: var(--color-surface-600)
}

.entryContainer>h3 {
    color: var(--color-primary-600)
}

.monthDateContainer.empty>h3 {
    color: var(--color-surface-300);
}